force-app/main/default/flows/Contact_Creation_with_Repeater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact_Rec_to_Contact_Collection</name>
        <label>Assign Contact Rec to Contact Collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Prep</name>
        <label>Contact Prep</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>contactRec.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.contactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRec.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.contactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRec.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.contactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRec.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.contactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Rec_to_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Contact Creation with Repeater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Creation with Repeater</label>
    <loops>
        <name>Loop_Through_Repeater</name>
        <label>Loop Through Repeater</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>contactRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Prep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>contactList</inputReference>
    </recordCreates>
    <screens>
        <name>Contacts_Capture</name>
        <label>Contacts Capture</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Repeater</targetReference>
        </connector>
        <fields>
            <name>contactRepeater</name>
            <fieldType>Repeater</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errordisplay</name>
            <fieldText>&lt;p&gt;Error Message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Contacts Created Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contacts_Capture</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
